{% extends "base.html" %}

{% block title %}Amino Acids · AminoMatcher{% endblock %}

{% block content %}

<h2>Amino Acids</h2>

<table class="amino-table">
    <tr>
        <th>Name</th>
        <th>1‑letter</th>
        <th>3‑letter</th>
        <th>Image</th>
        <th>Molecular formula</th>
        <th>Property</th>
    </tr>

    {% for row in rows %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>
            <img src="/static/images/aminoacids/{{ row[0] }}.png">
        </td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
    </tr>
    {% endfor %}
</table>
<a class="btn" href="/">Back to main page</a>

{% endblock %}