<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pick question type</title>
</head>
<body>

    <h1>Pick question type</h1>

    <a href="/start/{{ mode }}/random">Random</a><br><br>
    <a href="/start/{{ mode }}/name_to_one">Name → One‑letter</a><br><br>
    <a href="/start/{{ mode }}/name_to_three">Name → Three‑letter</a><br><br>
    <a href="/start/{{ mode }}/name_to_property">Name → Property</a><br><br>
    <a href="/start/{{ mode }}/name_to_formula">Name → Molecular formula</a><br><br>
    <a href="/start/{{ mode }}/one_to_name">One‑letter → Name</a><br><br>
    <a href="/start/{{ mode }}/three_to_name">Three‑letter → Name</a><br><br>
    <a href="/start/{{ mode }}/free_input">Write-the-answer mode</a>

</body>
</html>
