<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>AminoMatcher Game</title>
    </head>

    <body>

        <div class="container">

            <h1>AminoMatcher</h1>

            {% if result %}
                <p class="result">{{ result }}</p>
            {% endif %}

            <form method="POST" action="/game">

                <p>
                    You are shown the {{ shown_label }}:
                </p>

                {% if show_structure %}

                    <img
                        class="structure-image"
                        src="{{ url_for('static', filename='images/aminoacids/' ~ shown_value ~ '.png') }}"
                        alt="{{ shown_value }}">
                {% else %}
                    <div class="quiz-value">
                        {{ shown_value }}
                    </div>

                {% endif %}

                <p>
                    What is the {{ guess_label }}?
                </p>

                {% if guess_field == "property" %}

                    {% for option in property_options %}
                        <div class="radio-option">
                            <input
                                type="radio"
                                name="property_answer"
                                value="{{ option }}"
                                required>

                            <label>{{ option }}</label>
                        </div>
                    {% endfor %}

                {% else %}

                    <input
                        type="text"
                        name="user_answer"
                        required>

                {% endif %}

                <input type="hidden" name="correct_answer" value="{{ correct_answer }}">
                <input type="hidden" name="shown_field" value="{{ shown_field }}">
                <input type="hidden" name="guess_field" value="{{ guess_field }}">

                <br><br>

                <button type="submit">
                    Submit
                </button>

            </form>

            <br>

            <a href="/">
                Choose another game mode
            </a>

        </div>

    </body>
</html>